@import "tailwindcss";

@theme {
    --font-sans: Inter Variable, sans-serif;
    --font-mono: JetBrains Mono Variable, monospace;
    --font-script: Fira Sans, sans-serif;
}

:root {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* fix for Chrome */
    font-feature-settings:
        "liga" 1,
        "calt" 1;
}

h1 {
    @apply text-5xl/14 font-semibold tracking-tight text-pretty text-gray-900;
}

h2 {
    @apply text-3xl/8 font-semibold tracking-tight text-pretty text-gray-900;
}

h3 {
    @apply text-xl/7 font-semibold text-gray-900 group-hover:text-gray-600;

    a {
        @apply relative no-underline;

        /* highlight background animation */
        &::after {
            content: "";
            @apply absolute left-0 bottom-0 w-full h-[0.4em] bg-cyan-200 opacity-50;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease;
            z-index: -1;
        }

        &:hover::after {
            transform: scaleX(1);
        }
    }
}

.prose {
    font-size: 18px;
    line-height: 28px;

    h2 {
        @apply mt-12 font-script;

        position: relative;
        display: inline-block;
        padding-bottom: 0.1em;
        background: url("data:image/svg+xml;utf8,\
          <svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 200 40' preserveAspectRatio='none'>\
            <path d='M0 20 Q20 10, 40 20 T80 20 T120 20 T160 20 T200 20' \
                  stroke='%23ffd166' stroke-width='15' fill='none' stroke-linecap='round' stroke-linejoin='round'/>\
          </svg>")
            no-repeat;
        background-size: 100% 0.6em;
        background-position: 0 95%;
    }

    pre.astro-code {
        @apply p-6 rounded-md font-mono;
    }

    ul {
        margin-left: 2rem;

        li {
            list-style: disc;
        }
    }

    a[href] {
        @apply text-blue-500 underline;
    }
}

.callout code {
    font-weight: bold;
}

footer {
    .social-link {
        @apply relative text-gray-200 no-underline transition-colors duration-300;
    }

    .social-link::after {
        @apply absolute left-0 bottom-0 w-full h-[2px] bg-cyan-400;

        content: "";
        transform: scaleX(0);
        transform-origin: right;
        transition: transform 0.3s ease;
    }

    .social-link:hover {
        @apply text-cyan-300;
    }

    .social-link:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }
}
