---
type Props = {
    description: string;
};

const { description } = Astro.props;
---

<div class="text-lime-900 callout">
    <div class={description ? "rounded-t-md bg-lime-200/30 p-4" : "bg-lime-200/30 p-4 rounded-md"}>
        <slot />
    </div>
    {description ? <div class="bg-lime-100 text-xs p-2 text-lime-900 rounded-b-md">{description}</div> : null}
</div>
