---
import HeaderLink from "./HeaderLink.astro";
---

<header class="p-8 bg-black">
    <nav class="max-w-5xl mx-auto flex gap-8 items-center">
        <HeaderLink href="/">Home</HeaderLink>
        <HeaderLink href="/about">About</HeaderLink>
    </nav>
</header>
