body {
  .main-image {
    width: 100%;

    position: absolute;
    z-index: -9;
  }

  .tooltip {
    position: absolute;
    padding: $base-size;
  }

  svg:not(:root) {
    overflow: visible;
  }
}
