---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import dayjs from "dayjs";
import Utterances from "../components/Utterances.astro";

type Props = CollectionEntry<"blog">["data"];

const { title, pubDate, updatedDate, heroImage } = Astro.props;
---

<main>
    <article class="space-y-8">
        <p class="text-right text-neutral-400 font-script">
            {
                updatedDate
                    ? `Last updated on ${dayjs(updatedDate).format("dd MMM, YYYY")}`
                    : `Published on ${dayjs(pubDate).format("MMM D, YYYY")}`
            }
        </p>
        {heroImage ? <Image width={1020} height={510} src={heroImage} alt="" /> : null}

        <h1 class="mb-12 font-script">{title}</h1>
        <div class="prose space-y-6">
            <slot />
        </div>
    </article>

    <Utterances repo="josuemontano/josuemontano.github.io" />
</main>
